%box-base {
    display: block;
    float: left;
}

// Universal Sizes (.s-half, etc.)
@for $i from 1 through length($fractions) {
    .#{nth($fractions, $i)} {
        @include box(nth($fraction-divisors, $i), nth($fraction-multipliers, $i));
        @extend %box-base;
        
        &.center {
            @include center-margins(nth($fraction-divisors, $i), nth($fraction-multipliers, $i));
        }
    }
}

// Mobile Devices
@media (max-width: $s-max-width) {
    %s-box-base {
        display: block;
        float: left;
    }

    // Universal Sizes (.s-half, etc.)
    @for $i from 1 through length($fractions) {
        .s-#{nth($fractions, $i)} {
            @include box(nth($fraction-divisors, $i), nth($fraction-multipliers, $i));
            @extend %s-box-base;
            
            &.center {
                @include center-margins(nth($fraction-divisors, $i), nth($fraction-multipliers, $i));
            }
        }
    }

    // Small Sizes (Overides universals) (.s-1, .s-2, etc.)
    @for $i from 1 through $s-columns {
        .s-#{$i} {
            @include box($s-columns, $i);
            @extend %s-box-base;

            &.center {
                @include center-margins($s-columns, $i);
            }
        }
    }

}
 
// // Portrait tablet
@media (min-width: $m-min-width) and (max-width: $m-max-width) {
    %m-box-base {
        display: block;
        float: left;
    }

    // Universal Sizes (.m-half, etc.)
    @for $i from 1 through length($fractions) {
        .m-#{nth($fractions, $i)} {
            @include box(nth($fraction-divisors, $i), nth($fraction-multipliers, $i));
            @extend %m-box-base;

            &.center {
                @include center-margins(nth($fraction-divisors, $i), nth($fraction-multipliers, $i));
            }
        }
    }

    // Small Sizes (Overides universals) (.m-1, .m-2, etc.)
    @for $i from 1 through $m-columns {
        .m-#{$i} {
            @include box($m-columns, $i);
            @extend %m-box-base;

            &.center {
                @include center-margins($m-columns, $i);
            }
        }
    }

}
 
// Landscape tablet or desktop
@media (min-width: $l-min-width) and (max-width: $l-max-width) {
    %l-box-base {
        display: block;
        float: left;
    }

    // Universal Sizes (.qtr, .l-half, etc.)
    @for $i from 1 through length($fractions) {
        .l-#{nth($fractions, $i)} {
            @include box(nth($fraction-divisors, $i), nth($fraction-multipliers, $i));
            @extend %l-box-base;

            &.center {
                @include center-margins(nth($fraction-divisors, $i), nth($fraction-multipliers, $i));
            }
        }
    }

    // Small Sizes (Overides universals) (.l-1, .l-2, etc.)
    @for $i from 1 through $l-columns {
        .l-#{$i} {
            @include box($l-columns, $i);
            @extend %l-box-base;

            &.center {
                @include center-margins($l-columns, $i);
            }
        }
    }
    
}
 
// // Large desktop
@media (min-width: $xl-min-width) {
    %xl-box-base {
        display: block;
        float: left;
    }

    // Specific Universal Sizes (.xl-half, etc.)
    @for $i from 1 through length($fractions) {
        .xl-#{nth($fractions, $i)} {
            @include box(nth($fraction-divisors, $i), nth($fraction-multipliers, $i));
            @extend %xl-box-base;

            &.center {
                @include center-margins(nth($fraction-divisors, $i), nth($fraction-multipliers, $i));
            }
        }
    }

    // Small Sizes (Overides universals) (.xl-1, .xl-2, etc.)
    @for $i from 1 through $xl-columns {
        .xl-#{$i} {
            @include box($xl-columns, $i);
            @extend %xl-box-base;

            &.center {
                @include center-margins($xl-columns, $i);
            }
        }
    }
    
}