// Clearfix
// For clearing floats like a boss h5bp.com/q
@mixin clearfix {
    zoom: 1;
    
    &:before,
    &:after {
        display: table;
        content: "";
    }
    
    &:after {
        clear: both;
    }
}

// Box base style --------------------------------------------
@mixin box($size_cols, $num_cols) {
    width: $num_cols * ((1 / ($size_cols)) * 100%);
}

// Margin for overs ----------------------------------------------
@mixin box-over($size_cols, $num_cols) {
    margin-left: $num_cols * ((1 / ($size_cols)) * 100%);
}

// Margins for Centered boxes --------------------------------------------------
@mixin center-margins($size_cols, $num_cols) {
    $base: (1 / ($size_cols)) * 100%;
    $margin_cols: ($size_cols - $num_cols) / 2;
    $margin: $margin_cols * $base;
    margin-right: $margin;
    margin-left: $margin;
}